{% extends 'base.html.twig' %}

{% block title %}Page de connexion{% endblock %}

{% block header_img %}
    <img class="slide-image" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">
{% endblock %}

{% block body %}
<form class="login-form" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security','fr') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
    <label for="inputEmail">Email</label>
    <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="btn btn-lg btn-primary login-submit" type="submit">Confirmer</button>
</form>
{% endblock %}
