{% extends 'base.html.twig' %}

{% block header_title %}
    <div class="h1-task-create">
        <h1>Création de tâche</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('task_create')}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right add-task-button">Ajouter</button>
        {{ form_end(form) }}

        <a href="{{ path('task_list') }}" class="btn btn-primary return-button">Retour à la liste des tâches</a>
    </div>
{% endblock %}
