{% block footerbar %}

<footer class="footer">
    <div class="copyright navbar-dark bg-dark">
        <p class="nav-item">
            Copyright 2023 - Site réalisé par <em>Erwan Carlini</em> - Développeur d'application PhP / Symfony<br>
        </p>
    </div>
</footer>

{% endblock %}