{% extends 'base.html.twig' %}

{% block body %}
   <div id="error-undefined" class="error-page text-center text-secondary error-page">
        <h1 class="display-1 text-danger font-title font-weight-bold">Page en erreur {{ status_code }}.</h1>

        <div>
            Une erreur {{ status_code }} s'est produite lors de l'exécution de la page.
        </div>
        <div class="back-home-error">
            Vous pouvez revenir à <a href="{{ path('homepage') }}">l'accueil</a>.
        </div>
    </div>
{% endblock %}
